<div class="container pt-5">
  <h2>Add a mask:</h2>
  <%= simple_form_for @mask do |f|%>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :category %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <% end %>
  <%= link_to 'See all masks', masks_path %>
</div>
