<div class="show-main-container">
  <div class= "mask-container">
  <div class="show-container">
    <h1>
    </h1>
    <div class="show-content">
      <div class="first-half">
        <div id="image-show">
          <% if @mask.photo.attached? %>
           <%= cl_image_tag @mask.photo.key%>
          <% end %>
        </div>
      </div>
      <div class="second-half">
        <div id="image-info">
          <div id = "mask-name">
            <h1>
              <%= @mask.name.capitalize %>
            </h1>
          </div>
          <div id="mask-price">
            <h2>
              €<%= @mask.price %> per day
            </h2>
          </div>
          <div id="mask-description">
            <p>
              <%= @mask.description %>
            </p>
          </div>
          <div id="mask-category">
            <p>
              Category: <%= @mask.category %>
            </p>
          </div>
          <div>
            <%= link_to 'Book', new_mask_booking_path(@mask), class:"weird-book submit-button", id:"book-button" %>
          </div>
        </div>
      </div>
    </div>
    <div class="show-buttons">
    <ul class="action-list p-10">
    <li><%= link_to 'Back to Masks', masks_path, class:"weird-button button" %></li>
    </ul>
    </div>
    </div>
    </div>
  </div>

