<div class="show-main-container">
    <div class="show-card-product">
      <div class="border-card">
        <div class="show-card__image-container">
            <%= cl_image_tag @mask.photo.key%>
        </div>
        <div class="card__content">
          <h2 id='mask-name'>
              <%= link_to(@mask.name, mask_path(@mask)) %>
          </h2>
          <h6 id="mask-description">
                  <%= @mask.description %>
          </h6>
          <p id='mask-price'>€
              <%= @mask.price %> per day
          </p>
        </div>
        <div id="mask-category">
          <p>
            Category: <%= @mask.category %>
          </p>
        </div>
        <div id='show-book-button'>
          <%= link_to 'Book', new_mask_booking_path(@mask), class:"weird-book submit-button", id:"book-button" %>
        </div>
      </div>
    </div>
    <div class="show-buttons">
      <ul class="action-list p-10">
        <li><%= link_to 'Back to Masks', masks_path, class:"weird-button button" %></li>
      </ul>
    </div>

</div>






