<div class="show-main-container">
  <div class="show-container">
    <h1>
    </h1>
    <div class="show-content">
      <div id="image-show" class="col">
        <% if @mask.photo.attached? %>
         <%= cl_image_tag @mask.photo.key%>
        <% end %>
      </div>
      <div id="image-info" class="col">
        <div id = "mask-name">
          <h1>
            <%= @mask.name.capitalize %>
          </h1>
        </div>
        <div id="mask-price">
          <h2>
            <%= @mask.price %>,00€
          </h2>
        </div>
        <div id="mask-description">
          <p>
            <%= @mask.description %>
          </p>
        </div>
        <div id="mask-category">
          <p>
            Category:<%= @mask.category %>
          </p>
        </div>
        <div>
          <%= link_to 'Book', new_mask_booking_path(@mask), class:"weird-book submit-button", id:"book-button" %>
        </div>
      </div>
    </div>
    <div id="show-buttons">
    <ul class="action-list">
    <li><%= link_to 'Edit', edit_mask_path(@mask), class:"weird-button button"%></li>
    <li><%= link_to 'All', masks_path, class:"weird-button button" %></li>
    <li><%= link_to 'Delete', mask_path(@mask), class:"weird-button button", method: :delete %></li>
    </ul>
    </div>
    </div>
  </div>

